<header>
    <nav>
        <ul>
            <li><a href="/2021">2021</a> </li>
            <li><a href="/2022">2022</a> </li>
            <li><a href="/2023">2023</a> </li>
        </ul>
    </nav>
</header>
<body>
    <nav>
        <ul>
            <li><a href="/Capacity building">Capacity building</a> </li>
            <li><a href="/Feasibility studies">Feasibility studies</a> </li>
            <li><a href="/ESG for Banks">ESG For Banks</a> </li>
            <li><a href="/Climate Expert Tool"> Climate Expert Tool</a> </li>
            <li><a href="/NDC and NAP">NDC and NAP</a> </li>
            <li><a href="/Research">Research</a> </li>

        </ul>
    </nav>
</body>
<footer>
    <ul>
        <li><a href="/Contact information">Contact information</a> </li>
        <li><a href="/Address">Address</a> </li>
        <li><a href="/Gallery">Gallery</a> </li>
    </ul>
    <li><a href="https://green-alliance.kg"> Joint Development Projects</a> </li>
</footer>