<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a> </li>
            <li><a href="/about">About</a> </li>
            <li><a href="/contact">Contact</a> </li>
        </ul>
    </nav>
</header>
<body>
    <nav>
        <ul>
            <li><a href="/Green For Development">Green For Development</a> </li>
            <li><a href="/Green For Cooperation">Green For Cooperation</a> </li>
            <li><a href="/Green For Education">Green For Education</a> </li>
            <li><a href="/Green For Research"> Green For Research</a> </li>
            <li><a href="/Green For Biodiversity">Green For Biodiversity</a> </li>
            <li><a href="/Green For Ecosystems">Green For Ecosystems</a> </li>

        </ul>
    </nav>
</body>
<footer>
    <ul>
        <li><a href="/Contact information">Contact information</a> </li>
        <li><a href="/Address">Address</a> </li>
        <li><a href="/Completed">Completed project</a> </li>
    </ul>
    <li><a href="https://green-alliance.kg"> Joint Development Projects</a> </li>
</footer>