{%extends "main.html"%}
{%load static%}

{%block content%}
<div class="card" style="width: 18rem;">
    {%if post.image%}
  <img src="{{post.image.url}}" class="card-img-top" alt="...">
  {%else%}
  <img src="{%static 'staticfile.jpg'%}" class="card-img-top" alt="...">
  {%endif%}
  <div class="card-body">
    <h5 class="card-title">Green for </h5>
    <p class="card-text">{{post.content}}</p>
      <p> class="card-text"> {{post.rate}}</p>
    <a href="/posts/{{post.id}}" class="btn btn-primary">Посмотреть пост</a>
  </div>
</div>

{%endblock%}