{%extends 'main.html'%}
{%load static%}

{%block content%}

<h1 class="mt-5" style="text-align: center;">
    Profile
</h1>

<div class="container">
    <img src="/media/{{ user.profile.image }}" alt="Profile Picture" style="width: 200px; height: 200px; border-radius:50px"
    <h2>{{ user.username }}</h2>
    <h3>{{ user.first_name }}</h3>
    <h3>{{ user.last_name }}</h3>
    <h3>{{ user.email }}</h3>
</div>

{% for post in posts%}
<div class="card" style="width: 18rem;">
  {%if post.image%}
  <img src="{{post.image.url}}" class="card-img-top" alt="...">
  {%else%}
  <img src="{%static 'staticfile.jpg'%}" class="card-img-top" alt="...">
  {%endif%}
  <div class="card-body">
    <h5 class="card-title">Green For</h5>
    <p class="card-text">{{post.content}}</p>
    <p> class="card-text"> {{post.rate}}</p>
    <a href="/posts/{{post.id}}" class="btn btn-primary">Посмотрите пост</a>
  </div>
</div>
{% endfor %}

{%endblock%}